   PORT=5000
   MONGO_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
   JWT_SECRET=xxxxxxxxxxxxxxxxxxx
   CLIENT_URL=http://localhxost:5173
SERVER_PUBLIC_URL=http://localhosxt:5000x
   CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxxxxx
   CLOUDINARY_API_KEY=xxxxxxxxxxxxxxx
   CLOUDINARY_API_SECRET=xxxxxxxxxxxxxxxxx
   ADMIN_EMAIL=xxxxxxxxxxxx
   ADMIN_PASSWORD=xxxxxxx